<div class="container d-flex justify-content-center my-4">
    <button type="button" class="btn" 
    [ngClass]="seleccion === 1 ? 'btn-primary' : 'btn-outline-primary'"
    (click)="seleccion=1; op = 1; calcularCuartiles(4);">Cuartiles</button> &nbsp;
    <button type="button" class="btn" 
    [ngClass]="seleccion === 2 ? 'btn-primary' : 'btn-outline-primary'"
    (click)="seleccion=2; op = 1; calcularCuartiles(5);">Quintiles</button> &nbsp;
    <button type="button" class="btn" 
    [ngClass]="seleccion === 3 ? 'btn-primary' : 'btn-outline-primary'"
    (click)="seleccion=3; op = 1; calcularCuartiles(10);">Deciles</button> &nbsp;
    <button type="button" class="btn" 
    [ngClass]="seleccion === 4 ? 'btn-primary' : 'btn-outline-primary'"
    (click)="seleccion=4; op = 2">Percentiles</button> &nbsp;
</div>
<div class="container d-flex justify-content-center my-3">
@if (op === 1) {
    <table class="table w-50">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            @for (i of listCuartiles; let idx = $index; track idx) {
                <tr>
                <th scope="row">{{prefix}}{{idx + 1}}</th>
                <td>{{i}}</td>
                </tr>
            
            }
        </tbody>
    </table>
}
@else if (op === 2) {
    <form class="row g-3">
        <div class="col-auto">
            <label for="staticEmail2" class="visually-hidden">Percentil</label>
            <input type="text" readonly class="form-control-plaintext" id="staticEmail2" [value]="'Valor: ' + this.res">
        </div>
        <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">Percentil</label>
            <input type="number" class="form-control" id="inputPassword2" placeholder="Ingrese el percentil" [(ngModel)]="percentil" name="percentil">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3" (click)="calcularPercentil();">calcular</button>
        </div>
    </form>
}
</div>