<div class="container my-4 d-flex justify-content-center">
    <table class="table w-50">
      <tbody>
        <tr>
          <th scope="row">Varianza poblacional: </th>
          <td>{{varianzaPoblacional}}</td>
        </tr>
        <tr>
          <th scope="row">Varianza muestral:</th>
          <td>{{varianzaMuestral}}</td>
        </tr>
        <tr>
          <th scope="row">Desviacion estandar poblacional:</th>
          <td>{{desviacionEstandarPoblacional}}</td>
        </tr>
        <tr>
          <th scope="row">Desviacion estandar muestral:</th>
          <td>{{desviacionEstandarMuestral}}</td>
        </tr>
      </tbody>
    </table>
    
</div>